<div class="row justify-content-center">
	<div class="col-sm-10 col-md-8 col-lg-6 col-xl-4 text-center">
		{{social-login}}
	</div>
</div>
<div class="row justify-content-center mb-3">
	<div class="col-sm-10 col-md-8 col-lg-6 col-xl-4 text-center">
		<em>ผ่านช่องทางด้านบน หรือกรอก <span class="text-nowrap">Username และ Password ที่นี่</span></em>
	</div>
</div>

<form method="post">
<div class="row justify-content-center">
    <div class="col-sm-10 col-md-8 col-lg-6 col-xl-4 text-center">
		<div class="form-group">
			<input id="username" name="username" placeholder="Username" class="form-control input-lg" type="text">
		</div>
		<div class="form-group">
			<input name="password" placeholder="Password" class="form-control input-lg" type="password">
		</div>
		<hr class="colorgraph">
	</div>
</div>
<div class="row justify-content-center">
	<div class="col-6 col-sm-5 col-md-4">
		<input class="btn btn-info btn-block" value="ส่งข้อมูล" type="submit">
	</div>
</div>
</form>
<script>
$(function(){
	$('#username').focus();
});
</script>
