<div class="row justify-content-center">
	<div class="col-sm-10 col-md-8 col-lg-6 col-xl-4 text-center">
		{{social-login}}
	</div>
</div>

<div class="row justify-content-center">
	<div class="col-sm-10 col-md-8 col-lg-6 col-xl-4 text-center">
		<hr class="colorgraph mt-0">
	</div>
</div>

<div class="text-center"><em>ผ่านช่องทางด้านบนครับ</em></div>
