<div class="container-fluid">
	<div class="row justify-content-center mt-3">
		<div class="col-7 col-sm-5 col-md-4 col-lg-3 text-center">
			<a href="{{baseurl}}index.php"><img style="width:100%" src="{{logo}}"></a>
		</div>
	</div>
</div>