<div class="d-flex text-center">
	<div class="flex-fill mr-2">
		<a style="font-size: 2.7em;" class="text-white" href="{{path_to_vendor}}pongsit/line/login.php">
			<i class="fab fa-line"></i>
		</a>
	</div>
	<div class="flex-fill mr-2">
		<a style="font-size: 2.7em;" class="text-white" href="{{path_to_vendor}}pongsit/firebase/facebook.php">
			<i class="fab fa-facebook-square"></i>
		</a>
	</div>
	<div class="flex-fill mr-2">
		<a style="font-size: 2.7em;" class="text-white" href="{{path_to_vendor}}pongsit/firebase/phone.php">
			<i class="fas fa-phone-square-alt"></i>
		</a>
	</div>
	<div class="flex-fill">
		<a style="font-size: 2.7em;" class="text-white" href="{{path_to_vendor}}pongsit/firebase/google.php">
			<i class="fab fa-google"></i>
		</a>
	</div>
</div>